
        .btn{
            background-color: red;
            border: none;
            color: white;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 20px;
        }
        .green{
            background-color: #199319;
        } 
        .red{
            background-color: red;
        }
        /* table,th{ */
            /* border-style : solid; */
            /* border-width : 1; */
            /* text-align :center; */
        /* } */
        /* td{ */
            /* text-align :center; */
        /* } */ */

        table {
            width: 100%;
            border-collapse: collapse;
          }
          th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
          }
          th {
            background-color: #ddd;
          }
          