     body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #ccc9cc 0%, #e1e1e9 100%);
    background-position-x: right;
}

     table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
      border: 1px solid;
     padding: 10px;
    }
    
    table {
      border-collapse: collapse;
      max-width: 100%;
     width:50%;
     
    }
    .table-data{
      
      width:65%;
      float: right;
    }
   
    
    td {
  text-align: center;
  height: 50px;
  vertical-align: bottom;
}
.table,th {
  text-align: left;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
} 
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.add_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;

} 
.a{
        display: inline-block;
        background-color: #7b38d8;
        padding: 20px;
        width: 200px;
        color: #ffffff;
        text-align: center;
      }